alfabet/Service References/LicensingService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LicensingService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LicensingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="SubscribeViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Databases" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Features" type="xs:int" />
      <xs:element minOccurs="0" name="Serial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscribeViewModel" nillable="true" type="tns:SubscribeViewModel" />
</xs:schema>